<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step Ahead</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  {% if session.get("email") %}
    <header>
      <nav>
        <div class="nav-main">
          <a href="{{ url_for('catalog.catalog') }}"><strong>Начало</strong></a>

          <div class="dropdown">
            <a href="#">Мъжки</a>
            <div class="dropdown-content">
              <a href="{{ url_for('catalog.catalog', category='мъжки', subcategory='спортни') }}">Спортни</a>
              <a href="{{ url_for('catalog.catalog', category='мъжки', subcategory='официални') }}">Официални</a>
              <a href="{{ url_for('catalog.catalog', category='мъжки', subcategory='ежедневни') }}">Ежедневни</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#">Женски</a>
            <div class="dropdown-content">
              <a href="{{ url_for('catalog.catalog', category='женски', subcategory='спортни') }}">Спортни</a>
              <a href="{{ url_for('catalog.catalog', category='женски', subcategory='официални') }}">Официални</a>
              <a href="{{ url_for('catalog.catalog', category='женски', subcategory='ежедневни') }}">Ежедневни</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#">Детски</a>
            <div class="dropdown-content">
              <a href="{{ url_for('catalog.catalog', category='детски', subcategory='спортни') }}">Спортни</a>
              <a href="{{ url_for('catalog.catalog', category='детски', subcategory='официални') }}">Официални</a>
              <a href="{{ url_for('catalog.catalog', category='детски', subcategory='ежедневни') }}">Ежедневни</a>
            </div>
          </div>
        </div>

        <div class="nav-user">

          <a href="{{ url_for('auth.profile') }}">Профил</a>
          <a href="{{ url_for('cart.view_cart') }}">Кошница</a>
        <a href="{{ url_for('promo.promo_calendar') }}" class="nav-link">Календар</a>
          {% if session.get('is_admin') %}
            <a href="{{ url_for('admin.approve_images') }}">Админ панел</a>
          {% endif %}
          <a href="{{ url_for('auth.logout') }}">Изход</a>
        </div>
      </nav>
    </header>
  {% endif %}

  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for msg in messages %}
            <div class="flash">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>