<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Step Ahead</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  {% if session.get("email") %}
    <header>
      <nav style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f0f0f0;">
        <div>
          <a href="{{ url_for('catalog.catalog') }}"><strong> Начало</strong></a>
        </div>
        <div>
           Здравей, {{ session["email"] }} |
          <a href="{{ url_for('cart.view_cart') }}">Кошница</a> |
          <a href="{{ url_for('auth.logout') }}"> Изход</a>
        </div>
      </nav>
      <hr>
    </header>
  {% endif %}

  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: #000000;">
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>
