{% extends "base.html" %}
{% block content %}
<h2>Финализиране на поръчка</h2>

<form method="POST">
  Адрес за доставка: <br>
  <input type="text" name="address" required><br><br>

  Начин на плащане: <br>
  <select name="payment" required>
    <option value="cash">Наложен платеж</option>
    <option value="card">Кредитна карта</option>
  </select><br><br>

  <button type="submit">Потвърди поръчката</button>
</form>

{% if order %}
<hr>
<h3>Вашата поръчка е създадена!</h3>
<a href="{{ url_for('cart.order_pdf', order_id=order.id) }}" class="btn btn-info">
    Изтегли PDF на поръчката
</a>
{% endif %}

{% endblock %}
