<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Step Ahead</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Добре дошли в "Step Ahead"!</h1>
        <p class="welcome-subtitle">Вашият онлайн магазин за обувки!</p>

        <div class="welcome-buttons">
            <a href="{{ url_for('auth.login') }}" class="welcome-btn">Вход</a>
            <a href="{{ url_for('auth.register') }}" class="welcome-btn">Регистрация</a>
        </div>
    </div>
</body>
</html>